/** Layout **/
.field {
	margin: 15px 0;
}
button {
	margin-top: 20px;
}
label {
	width: 150px;
	display: inline-block;
}
input[type='radio']+label {
	width: auto;
}
.invalid {
	background-color: Salmon;
}
.invalid-message {
	margin: 0 5px;
}

.invalid-message-cleared {
	visibility: hidden;
}

/** Auto-complete **/
.rf-dropdown {
	position: absolute;
}
.rf-dropdown ul {
	margin: 0;
	padding: 0;
	height: 9em;
	overflow-y: scroll;
	border: 1px solid lightGrey;
}
.rf-dropdown li {
	list-style-type: none;
	background-color: white;
}
.rf-dropdown li.over {
	background-color: lightblue;
}


/** DebugBar **/
.rf-debugbar {
    background-color: #45BCD2;
    opacity: 0.7;
    border-radius: 5px;
    padding: 7px 5px;
    margin-top: 10px;
}
