.invalid {
	background-color: Salmon;
}

#formContainer {
	border: 1px solid black;
	padding: 20px;
	width: 800px
}

button {
	margin-top: 20px;
}

.clear {
	clear: both;
}

.menu,.buttons {
	overflow: hidden;
	width: 100%;
}

button[action='back'] {
	float: left;
}

.menu-block {
	float: left;
	margin-top: -20px;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-left: 10px;
}

label {
	width: 150px;
	display: inline-block;
}

.field {
	margin: 15px 0;
}

input[type='radio']+label {
	width: auto;
}

.rf-dropdown {
	position: absolute;
	height: 9em;
	overflow-y: scroll;
}

.rf-dropdown ul {
	margin: 0;
	padding: 0;
}

.rf-dropdown li {
	list-style-type: none;
}

.rf-dropdown li:hover {
	background-color: lightblue;
}